


  @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Poppins:ital,wght@0,400;1,200&display=swap');


body {
    background-color: #000000;
    
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    border-bottom: #211159 solid 3px;
   
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    align-items: center;
    
}

#logo {
    flex-grow: 1;
    height: 75px;
    width: 75px;
}

li {
    list-style: none;
    margin-left: 12px;
    color: aliceblue;
    border-radius: 50%;
}

li:hover {
    color:aliceblue;
    background-color: #9651ca;
    cursor: pointer;
}

#whoami {
    margin-top: 30px;
    display: flex;
    border-bottom: #211159 solid 3px;



}

#welcome {
    color: aliceblue;
    text-align: center;
    margin-left: 15px;
    margin-top: 40px;
    padding-top: 40px;
   
}
.header {
    color: #9651ca;
    text-align: center;
    font-size: 34px;
}
#quote {
    border-bottom: #2111598a solid 3px;
}

.main-quote {
    color: aliceblue;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 22px;


}

.author {
    color: #a07bbd;
    text-align: center;
    font-style: italic;
    font-weight: 900;
}

.contact {
    text-align: center;
    margin-right: 15px;
    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

a {
    text-decoration: none;
    color: #9651ca;

}

a:hover {
    color:aliceblue;
    background-color: #9651ca;
}

#madewith {
    color: aliceblue;
    text-align: center;
}